
.nav-top{
    position: relative;
.navbar{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    height: 88px;
    flex-shrink: 0;
    border-bottom: 1px solid #F1F5F9;
    width: 100vw;
    padding: 0 20px;
    background-color: white;
  
    .nav-logo {
        padding: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 8px;
        flex: 1;
    }
    .right-nav{
        padding-left: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 6;
        flex-shrink: 0;
        .nav-icons{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 24px;
            .profile {
                display: inline-flex;
                align-items: center;
                &:hover{
                cursor: pointer;
                transition: all 0.3s ease-in-out;
                background-color: rgb(199, 215, 228);
                border-radius: 10%;
                }
            }

        }
      
    }
    
}

}


  .notifications-main{
    position: absolute;
    background-color: #F8FAFC;
    z-index: 1000;
    top: 0;
    right: 0;
    height: 100vh;
    overflow-x: scroll;

}




